/**
* @Author: Felipe Gonçalves Marques
* @Date:   2016-09-18 12:09:52
* @Email:  marques.goncalves.felipe@gmail.com
* @Last modified by:   Felipe Gonçalves Marques
* @Last modified time: 2016-09-22 18:09:34
*/

body {
  width: 100%;
  height: 100%;
  background-image: url('background.jpg');
  background-size: cover;
}
